link(rel='stylesheet' href='text-field.css')
input#input(type$='[[type]]'
    placeholder$='[[placeholder]]'
    minlength$='[[minlength]]'
    maxlength$='[[maxlength]]'
    readonly$='[[readonly]]'
    required$='[[required]]'
    name$='[[name]]'
    on-keydown='onKeydown'
    on-input='onChange'
    on-change='onChange'
    on-focus='onFocus'
    on-blur='onBlur')
