link(rel='stylesheet' href='date-range-box.css')
dope-box(
  label='[[label]]'
  dirty='[[dirty]]'
  readonly='[[readonly]]'
  required='[[required]]'
  focused='[[focused]]'
  invalid='[[invalid]]'
  placeholder='[[placeholder]]'
  empty='[[computeEmpty(empty, placeholder)]]'
  on-click='activate')
    dope-date-range-picker.raw(
      slot='implementation'
      type='[[type]]'
      placeholder='[[placeholder]]'
      readonly='[[readonly]]'
      required='[[required]]'
      items='[[items]]'
      formatter='{{formatter}}'
      invalid='{{invalid}}'
      focused='{{focused}}'
      empty='{{empty}}'
      dirty='{{dirty}}'
      value='{{value}}'
      start-date='{{startDate}}'
      end-date='{{endDate}}')
    dope-material-icon.icon(slot='icon' type='expand more' on-click='onIconClick')