dope-box(
  dirty='[[dirty]]'
  readonly='[[readonly]]'
  required='[[required]]'
  focused='[[focused]]'
  invalid='[[invalid]]'
  empty='[[empty]]')
    dope-multitext-field.raw(
      type='[[type]]'
      placeholder='[[placeholder]]'
      readonly='[[readonly]]'
      required='[[required]]'
      minlength='[[minlength]]'
      maxlength='[[maxlength]]'
      invalid='{{invalid}}'
      focused='{{focused}}'
      empty='{{empty}}'
      value='{{value}}')